################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/carpark.api/obj/Debug
/carpark.api/bin
/carpark.api.Tests/obj/Debug
/carpark.api.Tests/bin/Debug
/obj/Debug
/packages
/TestResults
